[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
transformers = "*"
torch = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
